---
layout: default
---
<div id="layout" class="pure-g-r">
  <div class="pure-u sidebar">
    <header class="header">
      <h1>nise_nabe</h1>
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-item"><a class="pure-button" href="http://www.nisecoder.com">Home</a></li>
        </ul>
      </nav>
    </header>
  </div>
  <div class="pure-u-1">
    <div class="content">
      <article class="post">
        <header><h2>{{ page.title }}</h2><p class="meta">{{ page.date | date_to_string }}</p></header>
        <div class="post">
        {{ content }}
        </div>
      </article>
      <a href="/">Back to Top</a>
    </div>
  </div>
</div>
